* {
    padding: 0%;
    box-sizing: border-box;
    margin: 0%;
}

#wrapper {
    background-color: #131313;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    background-color: #161414;
    height: 15vh;
    width: 100%;
    display: grid;
    grid-template-rows: minmax(50px, auto);
    grid-template-columns: minmax(170px, 1.7fr), minmax(50px, 0.5fr), minmax(50px, 0.5fr), minmax(25px, 0.25fr);    
    grid-template-areas: 
    "we me na lo"
    ;
}

#welcome {
    grid-area: we;    
    width: 70%;
    border-radius: 5px;
}

#menu {
    grid-area: me;
    width: 50%;
    border-radius: 5px;
}

#nav {
    grid-area: na;
    width: 50%;
    border-radius: 5px;
}

#logo {
    grid-area: lo;
    width: 50%;
    border-radius: 5px;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
    margin: 20px;
    background-color: #9E34E4;
    font-size: 2rem;
    font-family: rigatoni-bold, sans-serif;
    font-weight: 400;
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
    margin: 20px;
    background-color: #9E34E4;
    font-size: 2rem;
    font-family: rigatoni-bold, sans-serif;
    font-weight: 400;
    color: #4f1179;
    cursor: pointer;
    text-decoration: none;
}

#smallwrapper {
    height: 160vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "img img img im2 im2 ."
    "img img img txt txt txt"
    "img img img txt txt txt"
    "img img img txt txt txt"
    ". . . . . ."
    ". . . . . ."
    ;
}

#maintext {
    grid-area: txt;
}
#pizzaimg {
    grid-area: img;
}

#img2 {
    grid-area: im2;
}

h1 {
    font-size: 8rem;
    width: 40%;
    color: whitesmoke;
}

#undertext {

    font-size: 2.5em;
}
 
p {
    width: 5%;
    margin: 2%;
    padding: 2%;
    font-size: 2.5rem;
    color: whitesmoke;
}

footer {
    background-color: #131313;
    width: 100%;
    height: 22vh;
    display: flex;
    justify-content: center;
    align-items: center;
}






#wrapper2 {
    width: 100%;
    height: 100vh;
    background-color: #131313;
}

#header2 {
    height: 30vh;
    display: flexbox;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 12vw;
    color: #9E34E4;
    padding: 5px;
    margin: 5px;
}





#wrapper3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 150vh;
    background-color: #131313;
}

#smallwrapper2 {
    height: 70%;
    width: 60%;
    background-color: #9E34E4;
}

p {
    margin: 0.7%;
    font-size: 1.5em;
    padding: 0.7%;
    color: whitesmoke;
}
